/* .heading {
    color: red;
  }
  
  ul {
    color: aquamarine;
  }
  
  .food-img {
    height: 100px;
    width: 100px;
  }
   */
/*  
.heading {
    font-size: 50px;
    font-weight: bold;
    border-botton: 5px solid black;
}  
 */


 //////////react components practise//////////
 .heading {
    border: 5px solid black;
  }
  